:root {
	--main-color: #2196f3;
	--main-color-alt: #1787e0;
	--main-transition: 0.2s;
	scroll-behavior: smooth;
}

* {
	box-sizing: border-box;
}

body {
	font-family: "Cairo", sans-serif;
}

ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.container {
	padding-left: 15px;
	padding-right: 15px;
	margin-left: auto;
	margin-right: auto;
}

@media (min-width: 768px) {
	.container {
		width: 750px;
	}
}

@media (min-width: 992px) {
	.container {
		width: 970px;
	}
}

@media (min-width: 1200px) {
	.container {
		width: 1170px;
	}
}

header {
	min-height: 70px;
	position: relative;
	background-color: white;
	box-shadow: 0 0 15px #ddd;
}

header .container {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding-top: 10px;
}

@media (max-width: 767px) {
	header .container {
		justify-content: center;
	}
}

header a {
	text-decoration: none;
	color: black;
}

header .logo {
	height: 70px;
	color: var(--main-color);
	font-size: 26px;
	font-weight: bold;
	display: flex;
	align-items: center;
}

@media (max-width: 767px) {
	header .logo {
		height: 45px;
	}
}

header .links {
	display: flex;
}

@media (max-width: 767px) {
	header .links {
		margin-bottom: 5px;
	}
}

header .links > li > a {
	height: 70px;
	padding: 0 35px;
	transition: var(--main-transition);
	display: flex;
	align-items: center;
	position: relative;
	overflow: hidden;
}

@media (max-width: 767px) {
	header .links > li > a {
		height: 35px;
		padding: 20px;
		font-size: 14px;
	}
}

header .links > li > a::before {
	content: "";
	width: 100%;
	height: 5px;
	background-color: var(--main-color);
	position: absolute;
	top: 0;
	left: -100%;
	transition: var(--main-transition);
}

@media (max-width: 767px) {
	header .links > li > a::before {
		height: 2px;
	}
}

header .links > li > a:hover {
	background-color: #fafafa;
	color: var(--main-color);
}

header .links > li > a:hover::before {
	left: 0;
}

.landing {
	position: relative;
}

.landing .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: calc(100vh - 90px);
	padding-bottom: 150px;
}

@media (max-width: 991px) {
	.landing .container {
		height: 100vh;
		flex-direction: column;
		justify-content: center;
	}
}

.landing::before {
	content: "";
	position: absolute;
	top: -20%;
	left: 0%;
	width: 100%;
	height: 100%;
	z-index: -1;
	background-color: #ececec;
	transform: skewY(-6deg);
}

.landing .text {
	width: 480px;
	max-width: 100%;
	text-align: center;
}

.landing .text h1 {
	font-size: 45px;
	letter-spacing: -1px;
	margin-bottom: 0px;
}

@media (max-width: 991px) {
	.landing .text h1 {
		font-size: 30px;
	}
}

.landing .text p {
	margin-top: 5px;
	font-size: 24px;
	line-height: 1.4;
	color: #222;
}

@media (max-width: 991px) {
	.landing .text p {
		font-size: 20px;
	}
}

.landing .image img {
	width: 550px;
	max-width: 100%;
	animation: up-and-down 3s linear infinite alternate;
}

@media (max-width: 991px) {
	.landing .image img {
		display: none;
	}
}

@keyframes up-and-down {
	100% {
		transform: translateY(-25px);
	}
}

@media (max-width: 991px) {
	@keyframes up-and-down {
		50% {
			transform: translateX(-25px);
		}

		100% {
			transform: translateX(25px);
		}
	}
}

.landing .go-down {
	position: absolute;
	bottom: 20px;
	left: 50%;
	transform: translateX(-50%);
	color: var(--main-color);
	font-size: 26px;
}

.landing .go-down i {
	animation: bouncing 1.5s linear infinite;
}

@keyframes bouncing {
	0%,
	20%,
	50%,
	80%,
	100% {
		transform: translateY(0px);
	}

	40% {
		transform: translateY(-30px);
	}

	60% {
		transform: translateY(-15px);
	}
}

.landing .go-down:hover {
	color: var(--main-color-alt);
}
